<a href="https://colab.research.google.com/github/Yesenia-AriasC/Curso-IA---Turing-Box-UNAL/blob/main/1_Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Archivo realizado por Mateo Gutiérrez - mgutierrezca@unal.edu.co

# Pandas


Pandas es una librería de código abierto de Python muy popular diseñada para tareas de análisis y manipulación de datos. Es, junto a NumPy y SciPy, un módulo fundamental del ecosistema de computación científica en Python y es usado en proyectos de análisis de datos

# **1. Conceptos Básicos**

A continuación se presentan los conceptos básicos para el uso de la libreria *Pandas*.

In [ ]:
import pandas as pd
import numpy as np


## **Series** 

---

Se entiende como una series en Pandas como aquella columna o fila que pertenece a un **DataFrame** el cuál tiene un indice indicado.

Para crear un `pd.Series` existen dos maneras de crearlos usando **listas** ó **tuplas**.

In [ ]:
import numpy as np

print("Series creada con una lista \n{}\n".format(pd.Series([1,2,3,4])))
print("Series creada con una tupla\n{}\n".format(pd.Series( (1,2,3) )))
print("Series creada con Arrays de Numpy\n{}".format(pd.Series(np.logspace(0, 4, 10), index = np.linspace(0, 90, 10, dtype = 'int'))))

Asi mismo se pueden crear una **Series** con varias Listas generadas de manera **manual** o por medio de **Numpy** como arreglos tal y cómo se muestra en el siguiente código

In [ ]:
columna1 = [f'Indice {i} ' for i in range(5)]
columna2 = [f'Valor {i} ' for i in range(5)]

# Creación de las Series ingresando las diferentes Listas

print(pd.Series(columna2,index = columna1))

## **pd.DataFrames**
---
Se entiende un DataFrame como un arreglo de dos dimensiones que sirve para guardar información de un dataset, se puede entender fácilmente como una tabla de Excel en donde se tienen columnas que representas los atributos de las variables y filas que representan las instancias de las variables.

Los **DataFrame** se pueden crear por medio de :

* Arreglos de Numpy
* Listas ó tuplas
* Series 
* Diccionarios

1. **Arreglos de Numpy**

Es importante que los **DataFrame** tengan los atributos de **index** y **columns** puesto que el primero representa la manera en la cuál se indexan los datos en las columnas. Para crear un **DataFrame** se tiene la siguiente sintaxis `pd.DataFrame(columns,index)`

In [ ]:
# Creación del DataFrame por medio de arreglos con Numpy
import numpy as np
columnas = np.arange(3,13)
index = np.arange(1,11)

df = pd.DataFrame(columnas, index = index)
print(df)

2. `Diccionarios`

Para crear un **DataFrame** es necesario entender que el valor de cada clave **(key)** representa el **nombre** de la columna dada en donde cada valor de la clave corresponde al elemento de una columna.

In [ ]:
# Creación de un dataframe usando un diccionario
data = {'col1':list('abc'),'col2':[1,2,3]}

pd.DataFrame(data)

## Atributos

Como si se tratara en **Numpy** los nuevos objetos *(Serie y Pandas)* tienen atributos que son de gran utilidad para entender la composición de estos mismos.

Se tienen así para ambas estructuras los siguientes atributos : 

* `values`
* `index`
* `columns`
* `name`
* `size`
* `shape`
* `dtype`

`values`

Este atributo nos arroja los valores que se encuentran contenidos en el **DataFrame** ó en la **Series**.

In [ ]:
# Creación de las Series y DataFrame
import numpy as np 
s = pd.Series(np.random.randint(30,40,(1)), name = 'Series #1')

df = pd.DataFrame(columns = s, index = np.random.randint(10,80,(10)))

In [ ]:
df

In [ ]:
df.values

`index`

Este atributo permite nos indica losindice del **DataFrame** ó las **Series**.

In [ ]:
df.index

In [ ]:
s.index

`Columns ( Solo DataFrame )`

Este atributo nos arroja el nombre y el tipo de datos que corresponde a las columnas del **DataFrame**.

In [ ]:
df.columns

`name ( Solo Series )` 

Este atributo nos arroja el nombre que tienen las **Series**.

In [ ]:
s.name

## Selección y modificación

En pandas se pueden acceder a los elementos de maneras distintas las cuales se pueden resumir en : 

* `clasica`
* `indice .loc`
* `indice .iloc`
*  `selección celdas .at | .iat`

`Método clasica`

Al igual que en **Python** se pueden acceder y cambiar los elementos por medio de las **llaves** [].

In [ ]:
# Creación de un dataFrame 
import numpy as np
import pandas as pd

columnas = np.reshape(np.arange(5,30),(5,5))

df = pd.DataFrame(columnas)

print("DataFrame\n{}\n",df)

print("Accediendo a los elementos se tiene")
print("Posición (0,4) corresponde a {}".format(df[0][4]))

DataFrame
{}
     0   1   2   3   4
0   5   6   7   8   9
1  10  11  12  13  14
2  15  16  17  18  19
3  20  21  22  23  24
4  25  26  27  28  29
Accediendo a los elementos se tiene
Posición (0,4) corresponde a 25

`Indice .loc`

Esta manera de acceder a los elementos de un **DataFrame** permite acceder por los nombres, filas o filas y columnas.

![image.png]()

In [ ]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

print("DataFrame\n",df)

DataFrame
             max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [ ]:
print("Accediendo para filas \n")

print(df.loc['cobra'])

Accediendo para filas

max_speed    1
shield       2
Name: cobra, dtype: int64

In [ ]:
print("Accediendo para filas y columnas")

print(df.loc['cobra','max_speed'])

Accediendo para filas y columnas
1

In [ ]:
print("Accediendo por medio de condicionales \n")

print(df.loc[ df['max_speed' ] > 3 ])

`Acceder por indices numéricos .iloc`

El método `.iloc` nos permite acceder a los elementos de un **DataFrame** por medio de sus indices tal y como se realiza con las listas comunes de Python.

In [ ]:
df = pd.DataFrame( np.reshape(np.arange(10,28),(3,6)) , index = ['carros','motos','aviones'])
print(df)

In [ ]:
print("Acceder para fila")
print(df.iloc[0])

In [ ]:
print("Acceder para varias filas")
print(df.iloc[[0,2]])

In [ ]:
print("Accediendo para filas y columnas ")
print(df.iloc[0][2])

`Selección de celdas .at | .iat `

Estos métodos son exactamente iguales que los mencionados anteriormente.

# **2. Importar y exportar datos**

En esta sección se tratará la manera en la cuál se **exportarán** y **cargarán** los datos para el uso de la metodología `CRISP - DM `.

## **2.1. Exportar datos**

En esta parte se tratará la manera en la cuál se `exportan` los datos provenientes de un **DataFrame** o una **Series**.

El formato de archivo a los cuales se van a exportar corresponden a : 
* `csv`
* `Excel`
* `JSON`
* `HTML`
* `LaTex`
* `Markdown`

In [ ]:
# Creación de DataFrame para la exportación de archivos
df = pd.DataFrame(np.random.randint(1,90,(5,5)))
df

`CSV`

El formato **csv** corresponde a aquel que por su siglas `(Comma - Separated Values )` se da de la forma en la que los datos de las columnas se separan por **comas** o cualquier otro **caracter** y las **filas** se separan por un **salto de línea**.

La sintaxis corresponde a `DataFrame.to_csv(name_file)`

In [ ]:
# Exportación a csv
df.to_csv('archivo1.csv')

In [ ]:
# Revisar el contenido del archivo anteriormente creado
!cat archivo1.csv

`JSON`

Este tipo de archivo predilecto en el mundo del desarrollo nos provee varias herramientas para realizar la `exportación` de datos en diferentes formas a través del método `.to_json`. 

Los siguientes métodos hacen parte del valor de `orient` correspondiente a la sintaxis de `.json(file_name, orient = método ) `. 

* `columns` ( Genera un JSON en orden de las columnas )
* `split` ( Retorna columnas, indice y valores
* `index` ( Retorna las filas como objetos ) 
* `values` ( Unicamente arroja el valor de los elementos )
* `.to_json` ( Formato único que corresponde al de columns )

In [ ]:
# Uso de columns
import json 

def impresion(name): 
  print( json.dumps(json.loads(name), indent = 3) )

example = df.to_json(orient = 'columns')
impresion(example)

In [ ]:
# Uso de index 

example2 = df.to_json(orient = 'index')
impresion(example2)

In [ ]:
# Uso de values

example3 = df.to_json(orient = 'values')
impresion(example3)

In [ ]:
# Uso de json común 

df.to_json('ejemplo3.json')

`HTML`

*Pandas* también permite generar tablas **HTML** (*Hyper Text Markup Language*), el formato usado en páginas web, perfecto para presentar los resultados de un análisis o exponer un conjunto de datos. 
Este formato tiene muchas opciones de personalización definidas en sus argumentos, que corresponden principalmente al estilo generado, además de los argumentos de detalles de formato comunes.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_html.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

`HTML`

*Pandas* también permite generar tablas **HTML** (*Hyper Text Markup Language*), el formato usado en páginas web, perfecto para presentar los resultados de un análisis o exponer un conjunto de datos. 
Este formato tiene muchas opciones de personalización definidas en sus argumentos, que corresponden principalmente al estilo generado, además de los argumentos de detalles de formato comunes.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_html.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [ ]:
import IPython

#Función para renderizar HTML en el notebook.

def print_HTML(str):
  display(IPython.display.HTML(df.to_html()))

In [ ]:
s = df.to_html('df_to_html.html')

print_HTML(s)

`LaTeX`

En algunas ocasiones, se puede requerir de formatos más específicos que no sean usados posteriormente en otras aplicaciones. Es el caso de *LaTeX*, estándar para la generación de documentos científicos, con notación especial para ecuaciones y personalización de formatos. *Pandas* también permite generar tablas en este formato, listas para añadirse al código fuente del documento para su renderizado.
Este método tiene también múltiples opciones de personalización específicas del formato por medio de argumentos.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_latex.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [ ]:
df.to_latex('df_to_latex.tex')

In [ ]:
!cat df_to_latex.tex

`Markdown`

Al hablar de formatos de presentación, no podía faltar *Markdown*, formato usado, entre otras cosas, en el renderizado de las celdas de texto de los *Notebook*. *Pandas* permite generar texto que representa el formato de tablas usado en este lenguaje. Es ideal para generar tablas para sus proyectos con *Notebooks* de *Python*, o para plataformas como *GitHub*.
La mayoría de sus argumentos corresponde a la especificación de la librería [*tabulate*](https://pypi.org/project/tabulate/), sobre la cual *pandas* define la personalización de las tablas de *Markdown* generadas.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_markdown.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [ ]:
s = df.to_markdown()

s

In [ ]:
from IPython.display import display_markdown, Markdown

#Módulo de IPython para imprimir código fuente de markdown.
display_markdown(Markdown(s))

*Pandas* ha dado soporte a una gran variedad de formatos, pero esta guía sería muy extensa si se presentaran en detalle. A continuación, presentamos una lista de los formatos soportados por *pandas* para la generación de tablas a partir de *DataFrames* y *Series*, o de utilidades específicas que le podrían interesar.

*  [*Python* Pickle](https://docs.python.org/3/library/pickle.html): [**`.to_pickle`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html)
*  [*Apache Parquet*](https://parquet.apache.org/): [**`.to_parquet`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_parquet.html)
*  [*Hierarchical Data Format*](https://www.hdfgroup.org/solutions/hdf5/): [**`.to_hdf`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_hdf.html)
*  [*SQL (Structured Query Language)*](https://docs.sqlalchemy.org/en/13/): [**`.to_sql`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)
*  [*Feather File Format*](https://arrow.apache.org/docs/python/feather.html): [**`.to_feather`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_feather.html)
*  [*Stata dta*](https://www.stata.com/): [**`.to_stata`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_stata.html)
*  [*Google Big Query*](https://cloud.google.com/bigquery): [**`.to_gbq`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_gbq.html)
*  [Diccionario de *Python*](https://docs.python.org/3/tutorial/datastructures.html#dictionaries): [**`.to_dict`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html)
*  [*NumPy* record](https://numpy.org/devdocs/reference/generated/numpy.recarray.html#numpy.recarray): [**`.to_records`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_records.html)
*  Cadena de texto de *Python*: [**`.to_string`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_string.html)
*  Copiar al portapapeles: [**`.to_clipboard`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_clipboard.html)

In [ ]:
import IPython

#Función para renderizar HTML en el notebook.

def print_HTML(str):
  display(IPython.display.HTML(df.to_html()))

In [ ]:
s = df.to_html('df_to_html.html')

print_HTML(s)

`LaTeX`

En algunas ocasiones, se puede requerir de formatos más específicos que no sean usados posteriormente en otras aplicaciones. Es el caso de *LaTeX*, estándar para la generación de documentos científicos, con notación especial para ecuaciones y personalización de formatos. *Pandas* también permite generar tablas en este formato, listas para añadirse al código fuente del documento para su renderizado.
Este método tiene también múltiples opciones de personalización específicas del formato por medio de argumentos.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_latex.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [ ]:
df.to_latex('df_to_latex.tex')

In [ ]:
!cat df_to_latex.tex

`markdown`
Al hablar de formatos de presentación, no podía faltar *Markdown*, formato usado, entre otras cosas, en el renderizado de las celdas de texto de los *Notebook*. *Pandas* permite generar texto que representa el formato de tablas usado en este lenguaje. Es ideal para generar tablas para sus proyectos con *Notebooks* de *Python*, o para plataformas como *GitHub*.
La mayoría de sus argumentos corresponde a la especificación de la librería [*tabulate*](https://pypi.org/project/tabulate/), sobre la cual *pandas* define la personalización de las tablas de *Markdown* generadas.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_markdown.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [ ]:
s = df.to_markdown()

s

In [ ]:
from IPython.display import display_markdown, Markdown

#Módulo de IPython para imprimir código fuente de markdown.
display_markdown(Markdown(s))

*Pandas* ha dado soporte a una gran variedad de formatos, pero esta guía sería muy extensa si se presentaran en detalle. A continuación, presentamos una lista de los formatos soportados por *pandas* para la generación de tablas a partir de *DataFrames* y *Series*, o de utilidades específicas que le podrían interesar.

*  [*Python* Pickle](https://docs.python.org/3/library/pickle.html): [**`.to_pickle`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html)
*  [*Apache Parquet*](https://parquet.apache.org/): [**`.to_parquet`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_parquet.html)
*  [*Hierarchical Data Format*](https://www.hdfgroup.org/solutions/hdf5/): [**`.to_hdf`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_hdf.html)
*  [*SQL (Structured Query Language)*](https://docs.sqlalchemy.org/en/13/): [**`.to_sql`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)
*  [*Feather File Format*](https://arrow.apache.org/docs/python/feather.html): [**`.to_feather`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_feather.html)
*  [*Stata dta*](https://www.stata.com/): [**`.to_stata`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_stata.html)
*  [*Google Big Query*](https://cloud.google.com/bigquery): [**`.to_gbq`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_gbq.html)
*  [Diccionario de *Python*](https://docs.python.org/3/tutorial/datastructures.html#dictionaries): [**`.to_dict`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html)
*  [*NumPy* record](https://numpy.org/devdocs/reference/generated/numpy.recarray.html#numpy.recarray): [**`.to_records`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_records.html)
*  Cadena de texto de *Python*: [**`.to_string`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_string.html)
*  Copiar al portapapeles: [**`.to_clipboard`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_clipboard.html)

## **2.2. Importar Datos**

En esta sección se enseñara como **importar** datos usando la libreria de **Pandas**. 

Algunos formatos admitidos son : 

* `csv`
* `HTML`
* `JSON`
* `HTML`

`CSV`

Para importar datos de **csv** podemos hacerlo desde un **url** ó **nombre archivo**.

In [ ]:
# La ruta también puede ser remota, como la de una URL.
url = 'https://drive.google.com/uc?export=download&id=1sO-OfJ-GT5emHXr6fRXCWFlzsHqL-YdQ'
  df = pd.read_csv(url)
df

In [ ]:
# Carga de archivo ubicado en el sistema de archivos de Google Colab.
# En este caso se trata del dataset de prueba de alojamientos en el estado de California.

df = pd.read_csv('sample_data/california_housing_test.csv')

df

# **3. Combinación de datos**

En esta parte se mostrará como **combinar** y **agrupar** datos desde un `DataFrame`. 

Los métodos enunciados son : 

* `.concat` ( Concatenar ) 
* `.append` ( Agregar Filas al final )
* `assign` ( Asignar elementos a nuevas columnas )
* `merge` ( Mezclar elementos entre dos DataFrame ) 
* `join` ( Funciona igual pero se recomienda usar más )

`Combinación | .concat()`

La combinación se realiza entre **Series** para incluirlos en unos **DataFrame** especificos. Estos métodos nos sirven para agregar Columnas o filas a unos **DataFrame** seleccionados.

La sintaxis corresponde a `pd.concat( [DataFrame1,DataFrame2], axis = indice_concatenacion)`

In [ ]:
# Creación de DataFrame y Series

s1 = pd.Series(np.arange(3,12) )
df1 = pd.DataFrame( np.resize( np.arange(100,109), (3,3) ) )
df2 = pd.DataFrame(np.arange(10))

In [ ]:
df1

In [ ]:
df2

In [ ]:
# Usar concat para concatenar Series 1 y Series 2
pd.concat([df1,df2])

`Agregar al final | .append()`

Este método sirve para agregar **filas** al final de un **DataFrame**.

Su sintaxis corresponde a `df.append(Serie_nueva, ignore_index = Boolean)`. El parametro **ignore_index** se da cuando una serie tiene un nombre y se desea que este nombre sea el nuevo indice del DataFrame.

`IMPORTANTE: Este método no modifica al DataFrame original puesto que crea una copia temporal`.

In [ ]:
# Creación DataFrame

df = pd.DataFrame(np.eye(4,4))
df

In [ ]:
df.append(pd.Series([1,2,3,4]), ignore_index = True)

In [ ]:
df.append(pd.Series([1,2,3,4],name = 'a'), ignore_index = False)

`Asignar columnas | assign`

Este método nos sirve para asignar columnas a un DataFrame con algunos valores. 

Su sintaxis corresponde a : `df.assign( column_name = pd.Series )`. Este método al igual que el anterior no generá una modificación del **DataFrame** puesto que unicamente se encarga de realizar una copia temporal del mismo.

In [ ]:
df

Series #1   36
38         NaN
36         NaN
68         NaN
52         NaN
14         NaN
51         NaN
31         NaN
42         NaN
52         NaN
73         NaN

In [ ]:
# Agregar columna 'p' con valores iguales a 56
df.assign(p = pd.Series(np.full(4,56)))

Series #1   36   p
38         NaN NaN
36         NaN NaN
68         NaN NaN
52         NaN NaN
14         NaN NaN
51         NaN NaN
31         NaN NaN
42         NaN NaN
52         NaN NaN
73         NaN NaN

`Merge | .merge()`

Este método es usado para realizar un **merge** o lo que se podría entender como combinar el valor de los datos entre dos **DataFrame**.

Existen demasiadas maneras de realizar esto por lo que se da la existencia del parametro `how` que representa la manera en la cuál se dan estos casos. 

* `outer`: Se conservan todos los elementos.

* `inner`: Se conservan solo los elementos que estén en ambos DataFrame.

* `left`: Se conservan todos los elementos del DataFrame izquierdo.

* `right`: Se conservan todos los elementos del DataFrame derecho.

`on | left_on | right_on`: Nombre de la columna a combinar. Se puede definir nombres distintos por cada DataFrame.

`left_index | right_index`: Utilizar el índice en vez de una columna.

`suffixes | indicator`: Generar columnas con información general de la combinación, como el origen de la columna o el método usado.


La sintaxis principal corresponde a : `DataFrame.merge( DataFrame2, on = columna_a_combinar, how  = caso_de_combinación) 
![imagen.png]()

In [ ]:
# Creación de DataFrames
df1 = pd.DataFrame(np.eye(3,3),columns = list('abc') )
#df1.columns = list('abc')
df2 = pd.DataFrame(np.resize(np.arange(1,10),(3,3)), columns = list('abu'))


print("Primer Data Frame\n",df1,"\n")
print("Segundo Data Frame\n",df2)

In [ ]:
df1.merge(df2, on = 'b',how = 'right')

`join`

Este método arroja los mismos resultados que el método `merge` salvo que realizarlo con este puede ser cansón. Es por ello, que se recomienda usar siempre `.join()` pues es más similar a las consultas que se pueden generar con **SQL**.

In [ ]:
# Creación de DataFrames
df1

In [ ]:
df2

In [ ]:
df1.join(df2,lsuffix = '_izq',rsuffix = '_dch')

In [ ]:
df1.set_index('b').join(df2.set_index('a'))

# **4. Agrupación de datos**

En esta sección se tratarán los métodos para agrupar datos los cuales nos sirven para poder realizar consultas, agregación, eliminación o entendimiento de los datos. 

Los métodos enunciados se pueden dividir en las siguientes tres grandes etapas : 

* Separar : Significa separar los datos en grupos, es decir, se separar individualmente para generar un conjunto de un todo.

* Aplicar : Aplicar funciones a grupos de datos

* Combinar : Generar una nueva **columna** o **DataFrame** con la combinación nueva que se obtiene. 


Los métodos enunciados corresponden a : 

* `groupby() | Agrupar datos`
* `get_group() | Obtener grupo de datos `
* `apply() | Aplicar funciones a un grupo de datos`
* `aggregate() | Realizar cálculos a grupo de datos`

`groupby()`

Este método nos permite agrupar conjuntos de datos respecto a los criterios de un argumento.

In [ ]:
# Implementación de un nuevo DataFrame
df = pd.read_json('/content/sample_data/anscombe.json')
df.head()

In [ ]:
# Agrupación por total de cuartos

pd.DataFrame(df.groupby('Series'))

     0                                                  1
0    I     Series   X      Y
0       I  10   8.04
1   ...
1   II     Series   X     Y
11     II  10  9.14
12    ...
2  III     Series   X      Y
22    III  10   7.46
23  ...
3   IV     Series   X      Y
33     IV   8   6.58
34  ...

In [ ]:
# Imprimir agrupación por medio de for

for categoria, dataFrame in df.groupby('Series'): 
  print('La categoria correspondiente es : {}\n'.format(categoria))
  print(dataFrame, '\n')

`get_group()`

Si deseamos obtener la información del nuevo DataFrame creado a partir de `groupby` podemos usar el método de `get_group(tipo_grupo)`.

In [ ]:
df.groupby('Series').get_group('I')

`apply()`

Este método nos sirve para poder aplicar **funciones** a un grupo de datos generado por medio de `groupby()`. Es importante destacar que el método **apply** se encuentra desarrollado para `DataFrame` ó `Series`, por lo que al usarlo junto con `groupby()` es útil ya que este nos arroja un **DataFrame** ó **Series** según sea el caso.

In [ ]:
# Aplicar la media a cada grupo generado

pd.DataFrame( df.groupby('Series').apply(lambda df: df['X'].mean() ) )

          0
Series
I       9.0
II      9.0
III     9.0
IV      9.0

`aggregate | agg`

Este método sirve para agregar o resumir información que represente un conjunto de datos. Se puede aplicar la **media, sumatoria, max, min, etc..**.

In [ ]:
# Creación de DataFrame para dar ejemplo 

df = pd.DataFrame(np.resize(np.arange(1,13),(3,3)),columns = list('ABC'))
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# Encontrar la media, max y min de cada columna (A,B,C)
df.aggregate([np.mean,max,min])

        A    B    C
mean  4.0  5.0  6.0
max   7.0  8.0  9.0
min   1.0  2.0  3.0

In [ ]:
# Encontrar la media, max y min para cada fila (0,1,2)
df.aggregate([np.mean,max,min],axis = 'columns')

   mean  max  min
0   2.0  3.0  1.0
1   5.0  6.0  4.0
2   8.0  9.0  7.0